@page "/logistics/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Logistic</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditLogistic" logistic="logistic" />

@code {
    [Parameter] public int id { get; set; }
    Logistic logistic = new Logistic();

    protected async override Task OnParametersSetAsync()
    {
        logistic = await _client.GetFromJsonAsync<Logistic>($"{Endpoints.LogisticsEndpoint}/{id}");
    }

    async Task EditLogistic()
    {
        await _client.PutAsJsonAsync($"{Endpoints.LogisticsEndpoint}/{id}", logistic);
        _navManager.NavigateTo("/logistics/");
        }
}