@page  "/orders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title"> Create New Order</h3>
<hr />
<br />

<FormComponent ButtonText="Create Order" order="order" OnValidSubmit="@CreateOrder" />

@code {
    Order order = new Order();

    private async Task CreateOrder()
    {
        await _client.PostAsJsonAsync(Endpoints.OrdersEndpoint, order);
        _navManager.NavigateTo("/orders/");
    }
}
