@page "/product/create/"
@inject HttpClient _client
@inject NavigationManager _navManager



<h3 class= "card-title">Create New Product</h3>
<hr	 />
<br />

<EditForm Model="@product" OnValidSubmit="CreateProduct">
 <DataAnnotationsValidator />
 <ValidationSummary />
</EditForm>

@code {
	Product product = new Product();

	private IList<Customer> Customers;

	protected async override Task OnInitializedAsync()
	{
		Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
	}

	private async Task CreateProduct()
	{
		await _client.PostAsJsonAsync(Endpoints.ProductsEndpoint, product);
		_navManager.NavigateTo("/products/");
	}
}